In [5]:
# Import Dependencies
import numpy as np
import pandas as pd

In [6]:
# Import CSV and preview
data = pd.read_csv('data/sms.csv')
data.head()

   type                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
# Replace ham with 0 and spam with 1 in the type database
data['type'] = data['type'].replace(['ham','spam'],[0,1])
data.head()

   type                                                sms
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [8]:
# Create arrays from dataframe
y = data['type'].as_matrix()
X_text = data['sms'].as_matrix() 
print(X_text.shape)
print(y.shape)

(5572,)
(5572,)

In [9]:
# Download NLTK stop words
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/gibraannegron/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
# 
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
sw = stopwords.words("english")
cv = CountVectorizer(stop_words =sw)
tcv = cv.fit_transform(X_text).toarray()
print(len(tcv[0,:]))

8577

In [11]:
print(tcv.shape)
print(y.shape)

(5572, 8577)
(5572,)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words=sw, lowercase=True)
X = vectorizer.fit_transform(X_text).toarray()
print(X.shape)
print(y.shape)

(5572, 8577)
(5572,)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.202, random_state=42)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
y_test.shape

(4446, 8577)
(4446,)
(1126, 8577)

(1126,)